<h1><%= t('about_path') %></h1>
<p>
Autorem niniejszego serwisu jest Sara Dąbrowska.
Serwis ten stanowi integralną część pracy licencjackiej (kierunek: Elektroniczne Przetwarzanie Informacji), przygotowanej pod kierunkiem prof. ASP  dr. hab. Grzegorza Bilińskiego na Wydziale Zarządzania i Komunikacji Społecznej Uniwersytetu Jagiellońskiego.
</p>