<div class="">
  <h1>Planownik</h1>
  <h2>
    Szukasz przyjaznego i efektywnego organizera online?
  </h2>
  <br>
  <br>
    <div class="">
      <%= link_to "Wypróbuj Planownik", new_user_registration_path, class: "" %>
    </div>
</div>