<div class="container bg-faded index">
	<h1 class="text-center">Planownik</h1>
	</br>	
    <h2 class="text-center">Szukasz przyjaznego i efektywnego organizera online?</h2>
    <hr>
    <div class="row">
        <div class="col">
            <div class="mx-auto w-50 p-3 text-white text-center">
                <span><%= link_to "Wypróbuj Planownik", new_user_registration_path, class: "btn btn-reverse" %></span>
            </div>
        </div>
    </div>
 </div>