<div class="center jumbotron">
  <h1>Planownik</h1>
  <h2>
    Szukasz przyjaznego i efektywnego organizera online?
  </h2>
  <br>
  <br>
    <div class="text-center">
      <%= link_to "Wypróbuj Planownik", new_user_registration_path, class: "btn btn-lg btn-primary" %>
    </div>
</div>