<footer class="footer navbar-fixed-bottom">
  <small>
    <a href="localhost:3000">Planownik</a>
    by <a href="http://github.com/saradabrwska/">Sara Dąbrowska</a>  EPI 2018
  </small>
  <nav>
    <ul>
    </ul>
  </nav>
</footer>