<footer class="card-footer text-muted fixed-bottom bg-dark">
  <small>
    <a href="localhost:3000">Planownik</a>
    by <a href="http://github.com/saradabrowska/">Sara Dąbrowska</a>  EPI 2018
  </small>
  <nav>
    <ul>
    </ul>
  </nav>
</footer>